.heading {
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    display: flex;
    align-items: center;

    /* Grey/800 */

    color: #2D333B;
}