[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "==0.8.1"
environ = "==1.0"
Django = "==4.0.2"
djangorestframework = "*"
gunicorn = "*"
pycryptodome = "*"
django-auth-adfs = "*"
django-cors-headers = "*"
pillow = "*"
[dev-packages]

[requires]
python_version = "3.8"
