.container {
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.atkinson {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.btmclr {
  color: #2e2f2f;
}
.dcpclr {
  color: #4b5563;
}
