.button1 {
    background: #f9f9f9;
    border: 1px solid rgba(27, 31, 35, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.1);
    border-radius: 6px;
    color: #4b5563;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

.button2 {
    background: #2604CC;
    box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;

}

.button3 {
    background: #FF6100;
    box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}