.container {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }
  .button {
    background: #f9f9f9;
    border: 1px solid rgba(27, 31, 35, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.1);
    border-radius: 6px;
    /* color: #24292e; */
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .button:hover {
    background: #e9e7e7;
  }
  .credbutton {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2b00ff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
  }
  .credbutton:hover{
    background-color: #2000c0;
  }
  .input {
    padding-left: 2%;
    padding-right: 2%;
    height: 2.5rem;
    background: #ffffff;
    border: 1px solid #dbdde0;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(27, 31, 35, 0.075);
    border-radius: 6px;
  }
  .input {
    outline: none;
    border: 1px solid #DDDDDD;
  }
  .input:focus{
    box-shadow: 0 0 5px #a7c3f5;
    border: 1px solid #a7c3f5;
  }