.cont {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.small {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B7BBC1;
}

.text {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F2F;
}

.img{
    width: 150px;
    height: 200px;
}
/* @media only screen and (max-width: 600px) {
    .img {
        width: 100px;
        height: 150px;
    }
  } */

.grid{
    grid-template-columns: min-content auto auto;
}