/* body {
    background-color: #f8fafe;
}  */
.cont {
margin-top: 7%;
}

.button {
    background: #f9f9f9;
    border: 1px solid rgba(27, 31, 35, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.1);
    border-radius: 6px;
    color: #959da5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
  
  .button:hover {
    background: #2b00ff;
    color: white;
  }
  
  .input {
    height: 2.5rem;
    padding-left: 2%;
    padding-right: 2%;
    background: #ffffff;
    border: 1px solid #dbdde0;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(27, 31, 35, 0.075);
    border-radius: 6px;
  }
  .input:focus{
    outline: none;
  }
  
