.routeNavbar {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding-top: 24px;
    /* padding-left: 24px; */
  }
  .links {
    flex-direction: row;
    padding: 0px;
    align-items: stretch;
  }
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.15px;
    padding: 14px 16px 12px 16px;
    animation-name : fadein;
    animation-duration: 0.2s;
    border-bottom: 2px solid white;
  }
  .link:hover{
    border-bottom: 2px solid #DBDDE0;
  }
  .active {
    border-bottom: 2px solid #2b00ff;
    font-weight: 600;
    display: flex;
    
  }

  .linkCont{
    /* margin-left: 24px;
    margin-right: 10px; */
  }
  @media only screen and (max-width: 768px) {
    .link {
      align-items: flex-start;
    }
  }
  @keyframes fadein {
    from {
      border-bottom: 2px solid white;
    }
  
    to {
      border-bottom: 2px solid #DBDDE0;
    }
  }