name: Frontend Deployment
on:
    workflow_dispatch:
    push:
        paths:
            - "frontend/**"
        branches:
            - "deploy"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Establish ssh connection
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        key: ${{ secrets.SSH_KEY }}
        passphrase: ${{ secrets.SSH_PASSPHRASE }}
        port: ${{ secrets.SSH_PORT }}
        username: ${{ secrets.SSH_USERNAME }}
        script: |
            cd /webapps/Election_Portal_2022
            git pull origin main
            git status
            cd frontend
            docker-compose -f docker-compose.prod.yaml up -d --build
